<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
   

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  
    <title>Hello, world!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
  </head>
  <body>
    
     <div class="container">
        
        <a class="nav-link active" href="#" style="color: white; background-color: limegreen;">Our Product</a>

       <div class="row">
           <div class="col-lg-12">
               <div class="div1">
                   <h6 class="h6">
                       watermelon
                   </h6>
                   <img src="assets/img/watermelon1.jpg" alt="watermelon.jpg" width="100px" class="center">
                   
               </div>
               <div class="div1">
                   <h6 class="h6">Apple</h6>
                   <img src="assets/img/apple.jpg" alt="watermelon.jpg" width="100px" class="center" >
                   
               </div>
               <div class="div1">
                   <h6 class="h6">Orange</h6>
                   <img src="assets/img/orange.jpg" alt="watermelon.jpg" width="100px" class="center">
                   

               </div>
               <div class="div1">
                   <h6 class="h6">Banana</h6>
                   <img src="assets/img/banana.jpg" alt="watermelon.jpg" width="100px" class="center">
                   
               </div>
               <div class="div1">
                   <h6 class="h6">Mango</h6>
                   <img src="assets/img/mango.jpg" alt="watermelon.jpg" width="100px" class="center">
                   
               </div>
               <div class="div1">
                   <h6 class="h6">LadyFinger</h6>
                   <img src="assets/img/banana.jpg" alt="lady.jpg" width="100px" class="center">
                   
               </div>
               <div class="div1">
                   <h6 class="h6">Tomato</h6>
                   <img src="assets/img/tomato.jpg" alt="watermelon.jpg" width="100px" class="center">
                   
               </div>
               <div class="div1">
                   <h6 class="h6">Onion</h6>
                   <img src="assets/img/onion.jpg" alt="watermelon.jpg" width="100px" class="center">
                   
               </div>
               <div class="div1">
                   <h6 class="h6">Ginger</h6>
                   <img src="assets/img/karela.jpg" alt="watermelon.jpg" width="100px" class="center">
                   
               </div>
               <div class="div1">
                   <h6 class="h6">Potato</h6>
                   <img src="assets/img/potato.jpg" alt="watermelon.jpg" width="100px" class="center">
                   
               </div>
               <div class="div1">
                <h6 class="h6">Ginger</h6>
                <img src="assets/img/karela.jpg" alt="watermelon.jpg" width="100px" class="center">
                
            </div>
            <div class="div1">
                <h6 class="h6">Ginger</h6>
                <img src="assets/img/karela.jpg" alt="watermelon.jpg" width="100px" class="center">
                
            </div>
            <div class="div1">
                <h6 class="h6">Ginger</h6>
                <img src="assets/img/karela.jpg" alt="watermelon.jpg" width="100px" class="center">
                
            </div>
            <div class="div1">
                <h6 class="h6">Ginger</h6>
                <img src="assets/img/karela.jpg" alt="watermelon.jpg" width="100px" class="center">
                
            </div>
            <div class="div1">
                <h6 class="h6">Ginger</h6>
                <img src="assets/img/karela.jpg" alt="watermelon.jpg" width="100px" class="center">
                
            </div>
               
               
               
           </div>

       </div>

     </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

  </body>
</html>